@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    @apply antialiased;
  }
  .page-center {
    @apply flex justify-start items-center pt-32 h-[calc(100vh-80px)] sm:h-[calc(100vh-96px)];
  }
}

/* styles.css */
.tokens-one::-webkit-scrollbar,
.tokens-two::-webkit-scrollbar {
  display: none;
}

.tokens-one,
.tokens-two {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
